@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Quicksand:wght@400;700&family=Titan+One&display=swap');

:root {
  --input-linear: linear-gradient(120deg,#ADBCE6, #00C2CB);
  --input-error: red;
  --button-linear: linear-gradient(80deg, #ADBCE6, #ADE6D8, #ADBCE6 );
  --button-disabled: #acacac;
  --button-success: rgb(18, 151, 107);
  --white: #fff;
  --black: #303030;
  --gray: #929292;
  --light-gray: #cfcfcf;
  --border-height: 1px;
}


.cabecalho{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 4px;
  color: #ffffff;
  background: rgba(7, 115, 165, 0.863);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cabecalho-menu{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

#home{
  height: 750px;
}


body {
    box-sizing: border-box;
    height: 100vh;
    font-family: 'Lilita One';
    font-style: normal;
    font-size: 1rem;
    font-weight: 400;
}

.imagem-gato {
  width: 40%;
  margin-top: 400px;
}

.login {
  height: 50vh;
  display: flex;
  justify-content: right;
  align-items: center;
}

.login__container {
  height: 600px;
  width: 500px;
  background-color: var(--white);
  margin-right: 500px;
  margin-top: 600px;;
  box-sizing: border-box;
  padding: 32px;
  border-radius: 12px;
  border-style:initial;
  border-color: var(--input-linear);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__title {
  margin-bottom: 32px;
  color:rgba(8, 140, 201, 0.877);;
  font-family: 'Lilita One';
  text-shadow:  0 0 12px, black;
}

.login__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__input {
  height: 48px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 8px;
  border: unset;
  outline: none;
  position: relative;
}

.login__input-border {
  height: var(--border-height);
  width: 100%;
  margin-bottom: 16px;
  background: var(--light-gray);
  transition: .3s ease-in-out;
}

.login__input-border::after {
  content: '';
  display: block;
  height: var(--border-height);
  width: 0;
  margin-bottom: 16px;
  background: var(--input-linear);
  transition: .3s ease-in-out;
}

.login__input:focus + .login__input-border::after {
  width: 100%;
}

.login__input-border.error {
  background: var(--input-error);
}

.login__input-border.error::after {
  background: var(--input-error);
}

.login__submit {
  height: 48px;
  width: 100%;
  padding-left: 8px;
  outline: none;
  position: relative;
  background: var(--button-linear);
  background-size: 200%;
  margin-bottom: 32px;
  color: var(--white);
  font-size: 20px;
  font-family: 'Lilita One';
  border: unset;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s ease;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.login__submit:disabled {
  background: var(--button-disabled);
  cursor: not-allowed;
}

.login__submit:hover {
  background-position: right;
}

.login__submit.success {
  background: var(--button-success);
}

.login__submit.error {
  background: var(--input-error);
}

.login__reset {
  font-size: 12px;
  color: var(--gray);
  text-decoration: none;
}