<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petmatching - Acessibilidade</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header></header>
    <main>
        <section class="acessibilidade_pagina">
            <h1>Acessibilidade</h1>
                <p>
                    O site da PetMatching foi desenvolvido para atender ao público por meio da implementação de alguns recursos de acessibilidade seguindo as recomendações das Diretrizes de Acessibilidade para Conteúdo Web, do W3C (World Wide Web Consortium), -- oq é w3c
                </p>
             
                <h2>Dicas de Navegação</h2>
                
                <h3>Aumentar e diminuir o texto</h3>
                <p> Para utilizar o recurso de zoom nativo do seu navegador, aperte as teclas “Ctrl +” para aumentar o tamanho do conteúdo e “Ctrl –“ para diminuir. Caso queira retornar ao tamanho padrão, aperte "CTRL 0".
<br>Também é possível alterar o tamanho da letra do Portal. Para isso, basta usar as seguintes combinações de teclas:
<br>Aumentar letra: Alt + 9 no Chrome ou Cmd + 9 no Mac OS

<br>Diminuir letra: Alt + 8 no Chrome ou Cmd + 8 no Mac OS

<br>Tamanho original: Alt + 0 (zero) no Chrome ou Cmd + 0 (zero) no Mac OS
                </p>

                <h3> Alto Contraste</h3>
                <p>
                    Para ativar a funcionalidade do alto contraste, utilize “Shift esquerdo + Alt esquerdo + PrintScreen”
                    <br> Observação: No Firefox, use alt+shift+6, já no sistema operacional Mac Os, use COMMAND+6
                </p>

                <h3> Navegação por tabulação</h3>
                <p>
                    Use a tecla “Tab” para navegar por botões, campos de formulário e links, na ordem em que aparecem na página. Para voltar ao campo anterior, utilize “Shift + Tab”.
                </p>
                <a class="botao_voltar" href="index.html">Voltar</a>
                    
                </section>
        </section>
    </main>
    <footer></footer> 
</body>
</html>
