{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Adote ou seja uma ONG parceira">
    <title>PetMatch!</title>
    <link rel="stylesheet" href="{% static 'styles\styles.css' %}">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAu4G1HHBGxyJkKKlkwxZ_538odvtGRPE0&libraries=places"></script>
    <style>
        /* Estilo básico para o contêiner do mapa */
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>

<body>
    <header>
        <nav class="cabecalho">
		<a href="index.html"><img src="{% static 'img/logo-menor.png' %}" alt="logo Petmatching"></a>
            <div class="cabecalho-menu">
                <a class="cabecalho-menu-item" href="index.html">Home</a>
                <a class="cabecalho-menu-item" href="index.html#quem_somos">Quem Somos</a>
                <a class="cabecalho-menu-item" href="index.html#pets">Pets</a>
                <a class="cabecalho-menu-item" href="index.html#blog">Blog</a>
                <a class="cabecalho-menu-item" href="cadastro ong.html">Cadastrar ONG</a>
                <a class="cabecalho-menu-item" href="login.html">Login ONG</a>
            </div>
        </nav>
    </header>
    <main>
        <section id="home">
            <h1>Seu novo pet está aqui!</h1>
            <p>Esta é a localização aproximada do pet, contate o tutor temporário para mais informações!</p>

            <!-- Div para conter o mapa -->
            <div id="map"></div>
            <script>
                var map;

                function initMap() {
                    // Coordenadas
                    /*var timesSquare = {
                        lat: {{ pet.latitude |stringformat:"f"}},
                        lng: {{ pet.longitude |stringformat:"f"}}
                    };*/
                    geocoder = new google.maps.Geocoder();

                    geocoder.geocode( { 'address' : '{{ pet.localizacao }}' }, function( results, status ) {
                        if( status == google.maps.GeocoderStatus.OK ) {
                            console.log(results[0])
                            //In this case it creates a marker, but you can get the lat and lng from the location.LatLng
                            map.setCenter( results[0].geometry.location );
                            var marker = new google.maps.Marker( {
                                map     : map,
                                position: results[0].geometry.location,
                                title: results[0].formatted_address
                            } );
                        } else {
                            alert( 'Geocode was not successful for the following reason: ' + status );
                        }
                    } );


                    // Inicializa o mapa
                    map = new google.maps.Map(document.getElementById('map'), {
                        //center: timesSquare,
                        zoom: 15 // Ajuste o nível de zoom conforme desejado
                    });

                    /*// Adiciona um marcador na localização
                    var marker = new google.maps.Marker({
                        position: timesSquare,
                        map: map,
                        title: 'Seu pet'
                    });*/
                }

                // Chame a função de inicialização do mapa após o carregamento da página
                google.maps.event.addDomListener(window, 'load', initMap);
            </script>
        </section>
    </main>
    <footer>
        <div class="container">
            <!-- primeira coluna-->
            <ul>
                <h3>PetMatching</h3>
                <p> Não compre! Adote!</p>
                <p> 2023 </p>
            </ul>
            
            <!-- segunda coluna-->
            <ul>
                <h3>Links</h3>
                <p><a href="cadastro_ong">Cadastrar ONG</a><p>
                <p><a href="login">Quem somos</a></p>
            </ul>
            
            <!-- terceira coluna-->
            <ul>
                <h3><a href="acessibilidade">Acessibilidade</a></h3> 
            </ul>
            <!-- quarta coluna-->
            <ul>
                <h3>Contate-nos</h3>
                <p> (11) 123456789 </p>
                <p> petmatching@gmail.com</p>
                <p> Brasil</p>
            </ul>            
        </div>
    </footer>
</body>

</html>
