{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles/style-login.css' %}">
  <script defer src="./login-ong.js"></script>
  <title>Login</title>
</head>
<body>
  <main>

    <section id="home">
      <section class="cabecalho">
          <nav class="cabecalho-menu">
              <a class=cabecalho-logo href="{% url 'index' %}"><img src="{% static 'img/logo-menor.png' %}" alt="logo Petmatching"></a>
              <a class=cabecalho-menu-item href="{% url 'index' %}">Home</a>
              <a class=cabecalho-menu-item href="#quem_somos">Quem Somos</a>
              <a class=cabecalho-menu-item href="#pets">Pets</a>
              <a class=cabecalho-menu-item href="#blog">Blog</a>
              <a class=cabecalho-menu-item href="{% url 'cadastro_ong' %}">Cadastrar ONG</a>
              <a class=cabecalho-menu-item href="{% url 'login' %}">Login ONG</a>
          </nav>
      </section>

    </section>


  <section class="login">
    <img class="imagem-gato" src="{% static 'img/gato-login.jpg' %}" alt="gato preto sentado">
    <div class="login__container">
      <h1 class="login__title">Acesse sua conta</h1>
      <form class="login__form">
        <input class="login__input" type="Usuario" placeholder="Usuário" />
        <span class="login__input-border"></span>
        <input class="login__input" type="Senha" placeholder="Senha"/>
        <span class="login__input-border"></span>
        <button class="login__submit" href="{% url 'cadastro_pet' %}">Login</button>
        <a class="login__reset" href="#">Esqueceu a senha?</a>
      </form>
    </div>
  </section>
  
</main>
</body>
</html>
