{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Adote ou seja uma ONG parceira">
        <title>PetMatch!</title>
        <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    </head>
    <body>
        <main>
            <section id="home">
                <section class="cabecalho">
                    <nav class="cabecalho-menu">
                        <a class="cabecalho-logo" href="{% url 'index' %}">
                            <img src="{% static 'img/logo-menor.png' %}" alt="logo Petmatching" />
                        </a>
                        <a class="cabecalho-menu-item" href="{% url 'index' %}">Home</a>
                        <a class="cabecalho-menu-item" href="{% url 'index' %}">Quem Somos</a>
                        <a class="cabecalho-menu-item" href="{% url 'lista_pets '%}">Pets</a>
                        <a class="cabecalho-menu-item" href="{% url 'index' %}">Blog</a>
                        <a class="cabecalho-menu-item" href="{% url 'lista_ong' %}">ONGs Participantes</a>
                        <a class="cabecalho-menu-item" href="{% url 'login'%}">Login</a>
                    </nav>
                </section>
                <section class="conteudo_inicial">
                    <section id="pets">
                        <h1>Pets cadastrados por você</h1>
                        <h2>Ong:</h2><p> Matilha da Bá </p>
                        <section class="pets_conteudo">
                            <div class="Bob">
                                <h2>Preta</h2>
                                <img src="{% static 'img/preta.png' %}">
                                <ul>
                                    <li>Animal: cachorro</li>
                                    <li>Idade: 8 anos</li>
                                    <li>Porte: Pequeno</li>
                                    <li>Sexo: Fêmea</li>
                                    <li>Cor: Preta</li>
                                    <li>Comportamento: Dócil</li>
                                    <li>ONG/lar temporário: Matilha da Bá</li>
                                    <li>E-mail: matilhadaba@hotmail.com</li>
                                </ul>
                                <a class ="conteudo_inicial_botao">Editar</a>
                            </div>
                            <div class="amora">
                                <h2>Amora</h2>
                                <img src="{% static 'img/amora.png' %}">
                                <ul>
                                    <li>Animal: cachorro</li>
                                    <li>Idade: 10 anos</li>
                                    <li>Porte: Pequeno</li>
                                    <li>Sexo: Fêmea</li>
                                    <li>Cor: Preta</li>
                                    <li>Comportamento: Dócil</li>
                                    <li>ONG/lar temporário: Matilha da Bá</li>
                                    <li>E-mail: matilhadaba@hotmail.com</li>
                                </ul>
                                <a class ="conteudo_inicial_botao">Editar</a>
                            </div>
                            <div class="Estopa">
                                <h2>Estopa</h2>
                                <img src="{% static 'img/estopa.png' %}">
                                <ul>
                                    <li>Animal: cachorro</li>
                                    <li>Idade: 8 anos</li>
                                    <li>Porte: Médio</li>
                                    <li>Sexo: Macho</li>
                                    <li>Cor: Preta</li>
                                    <li>Comportamento: Dócil</li>
                                    <li>ONG/lar temporário: Matilha da Bá</li>
                                    <li>E-mail: matilhadaba@hotmail.com</li>
                                </ul>
                                <a class ="conteudo_inicial_botao">Editar</a>
                            </div>
                        </section>
                    </section>
                    <a class ="conteudo_inicial_botao" href="{% url 'index' %}">Home</a>    
    <footer>
    </footer>
</body>
</html>